.headerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
